@import url("texts/texts.css");
@import url("form/form.css");
@import url("form/quantidade.css");
@import url("dropdown/dropdown.css");
@import url("form/items.css");

:root {
    /* Produto */
    --purple-light: #A881E6;
    --purple: #7450AC;
    --purple-dark: #523480;

    /* Base */
    --gray-100: #FBF9FE;
    --gray-200: #AFABB6;
    --gray-300: #252529;
    --gray-400: #17171A;
    --gray-500: #111112;
    --gray-600: #0C0C0D;

    /* Feedback */
    --success-light: #4E995E;
    --success: #2F723D;



}

body{
    background-color: var(--gray-600);

    color: var(--gray-100);
    
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;


}

