@import url(item/item.css);
@import url(containerMenu/containerMenu.css);
@import url(quantidade/quantidade.css);


:root {
    --gray-100: #FBF9FE;
    --gray-300: #252529;
    --gray-400: #17171A;
    --gray-500: #111112;
    
    --black: #0C0C0D;

    --purple-1: #A881E6;
    --purple-2: #523480;

}

body {
    background: var(--black);

    color: var(--gray-100);

    font-family: 'Inter', sans-serif;    
}

img {
    position: absolute;
    
}

h1 {
    color: var(--gray-100);
    

    font-weight: 700;
    font-size: 24px;

    position: relative;

    padding: 1.5rem 0;

    margin-top: 4rem;
    margin-left: -12.5rem;

}

main {    
    display: flex;
    flex-direction: column;
    justify-self: unset;
    align-items: center;
    
        
}




