img {
    position: absolute;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texts {
    margin-top: 6rem;

   
    position: relative;
}

h1{
    font-weight: 700;
    font-size: 24px;

    text-align: start;
   
    letter-spacing: 0.72px;
   

}

p{
    color: var(--purple-light);
    font-size: 20px;
    padding: .74rem 0;
    
    
}